{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://x.com/RecksonKhiangte">X</a></li>
        <li><a href="https://github.com/Saga-sanga">GitHub</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}
